@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #000000;
    --box: #f6f6ef;
    --link: #ff6600;
    --headerbg: #ff6600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --box: #f6f6ef;
    --link: #ff6600;
    --headerbg: #ff6600;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px auto;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.hide {
  display: none;
}

.active {
  font-weight: bold;
}

.item {
  width: 90%;
  margin: 0 auto;
  background: var(--box);
  padding: 5px;

  .item-direction {
    padding: 2px 0;
  }

  .item-position {
    padding: 2px 0;
    font-size: 0.8rem;
  }

  .item-content {
    .item-title {
      font-size: 1rem;
      
      a:link,
      a:visited {
        font-size: 0.8rem;
        color: var(--foreground);
      }

      a:hover,
      a:active {
        text-decoration: none;
      }
    }  
  }


  .item-info {
    color: var(--link);
    font-size: 0.8rem;
    span {
      margin: 4px;
    }
    a {
      color: inherit;
    }
  }
}

.list-header {
  width: 90%;
  margin: 5px auto;
  padding: 5px;
  background-color: var(--headerbg);

  .title {
    font-weight: 800;
    font-size: 0.8rem;
    color: var(--foreground);
  }
}

.list-footer {
  width: 90%;
  margin: 5px auto;
  padding: 5px;
  text-align: center;

  .message {
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--foreground);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
