@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #000000;
    --box: #f6f6ef;
    --link: #ff6600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --box: #f6f6ef;
    --link: #ff6600;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.loading {
  text-align: center;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)
  );

  .message {
    position: relative;
    transform: translate(-5%, -5%);
    font-size: 20px;
    top: 50%;
    left: 50%;
    color: #fff;
  }
}

.loader-open {
  overflow: hidden;
}

.hide {
  display: none;
}

.active {
  font-weight: bold;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 10px;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 2px;
  }
}

.item {
  width: 90%;
  margin: 5px auto;
  border-radius: 5px;
  padding: 5px;
  background: var(--box);

  .item-title {
    margin-bottom: 4px;
    a:link,
    a:visited {
      font-size: 0.8rem;
      color: var(--foreground);
    }

    a:hover,
    a:active {
      text-decoration: none;
    }
  }

  .item-info {
    color: var(--link);
    font-size: 0.8rem;
    span {
      margin: 4px;
    }
    a {
      color: inherit;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
